*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #264653;
}
h1{
    font-size: 4vw;
    color: #2a9d8f;
}
#game{
    height: 35vw;
    width: 35vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #e9c46a;
}
#game>.btn{
    height: 10vw;
    width: 10vw;
    border: none;
    border-radius: .5rem;
    background-color: #f4a261;
    font-size: 4.5vw;
    font-weight: bolder;
    font-style: italic;
    color: black;
    
}
#restart{
    margin-top: 5vh;
    height: 4vw;
    width: 7vw;
    font-size: 1.5vw;
    border-radius: 1rem;
    border: none;
    background-color: #e76f51;
}